.discuss-comments .discuss-comment {
  margin: 15px 0;
}

.discuss-comment.discuss-comment-edit-mode .discuss-comment-main {
  border-color: #9adbbe;
  box-shadow: 0 0 1px 1px #9adbbe;
}

.discuss-comment.discuss-comment-disabled {
  pointer-events: none;
}

.discuss-comment.discuss-comment-disabled .discuss-comment-body {
  background-color: #f9f9fa;
}

.discuss-comment-avatar {
  float: left;
}

/* @media screen and (max-width: 576px) {
  .discuss-comment-body {
    margin-left: 60px;
  }
}
@media screen and (min-width: 577px) {
  .discuss-comment-body {
    margin-left: 70px;
  }
} */

/* .discuss-comment-header {
  padding: 10px 15px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #eaecef;
  border-bottom: none;
} */

/* .discuss-comment-created-at {
  float: right;
  cursor: default;
  color: #a3aab1;
} */

/* .discuss-comment-main {
  padding: 15px;
  border: 1px solid #eaecef;
} */

/* .discuss-edit-comment-input {
  resize: none;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
} */

.discuss-comment-footer {
  padding: 10px 15px;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #eaecef;
  border-top: none;
}

.discuss-comment-hint {
  cursor: default;
  color: #a3aab1;
}

.discuss-comment-reaction {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
  color: #3eaf7c;
}

.discuss-comment-operations {
  float: right;
  color: #3eaf7c;
}

.discuss-comment-operation {
  cursor: pointer;
  margin-left: 8px;
}

.discuss-comment-operation.discuss-comment-operation-muted {
  color: #a3aab1;
}

.discuss-comment-operation.discuss-comment-operation-muted .discuss-icon {
  fill: #a3aab1;
}
