.markdown-preview code[class*='language-'],
.markdown-preview pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.markdown-preview pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

.markdown-preview :not(pre) > code[class*='language-'],
.markdown-preview pre[class*='language-'] {
  background: #2d2d2d;
}

.markdown-preview :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.markdown-preview .token.block-comment,
.markdown-preview .token.cdata,
.markdown-preview .token.comment,
.markdown-preview .token.doctype,
.markdown-preview .token.prolog {
  color: #999;
}

.markdown-preview .token.punctuation {
  color: #ccc;
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.function,
.token.number {
  color: #f08d49;
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
  color: #f8c555;
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
  color: #cc99cd;
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
  color: #7ec699;
}

.markdown-preview .token.entity,
.markdown-preview .token.operator,
.markdown-preview .token.url {
  color: #67cdcc;
}

.markdown-preview .token.bold,
.markdown-preview .token.important {
  font-weight: 700;
}

.markdown-preview .token.italic {
  font-style: italic;
}

.markdown-preview .token.entity {
  cursor: help;
}

.markdown-preview .token.inserted {
  color: green;
}

.markdown-preview .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

.markdown-preview .anchor {
  float: left;
  line-height: 1;
  margin-left: -20px;
  padding-right: 4px;
}

.markdown-preview .anchor:focus {
  outline: none;
}

.markdown-preview h1 .octicon-link,
.markdown-preview h2 .octicon-link,
.markdown-preview h3 .octicon-link,
.markdown-preview h4 .octicon-link,
.markdown-preview h5 .octicon-link,
.markdown-preview h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.markdown-preview h1:hover .anchor,
.markdown-preview h2:hover .anchor,
.markdown-preview h3:hover .anchor,
.markdown-preview h4:hover .anchor,
.markdown-preview h5:hover .anchor,
.markdown-preview h6:hover .anchor {
  text-decoration: none;
}

.markdown-preview h1:hover .anchor .octicon-link,
.markdown-preview h2:hover .anchor .octicon-link,
.markdown-preview h3:hover .anchor .octicon-link,
.markdown-preview h4:hover .anchor .octicon-link,
.markdown-preview h5:hover .anchor .octicon-link,
.markdown-preview h6:hover .anchor .octicon-link {
  visibility: visible;
}

.markdown-preview {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.markdown-preview .pl-c {
  color: #6a737d;
}

.markdown-preview .pl-c1,
.markdown-preview .pl-s .pl-v {
  color: #005cc5;
}

.markdown-preview .pl-e,
.markdown-preview .pl-en {
  color: #6f42c1;
}

.markdown-preview .pl-s .pl-s1,
.markdown-preview .pl-smi {
  color: #24292e;
}

.markdown-preview .pl-ent {
  color: #22863a;
}

.markdown-preview .pl-k {
  color: #d73a49;
}

.markdown-preview .pl-pds,
.markdown-preview .pl-s,
.markdown-preview .pl-s .pl-pse .pl-s1,
.markdown-preview .pl-sr,
.markdown-preview .pl-sr .pl-cce,
.markdown-preview .pl-sr .pl-sra,
.markdown-preview .pl-sr .pl-sre {
  color: #032f62;
}

.markdown-preview .pl-smw,
.markdown-preview .pl-v {
  color: #e36209;
}

.markdown-preview .pl-bu {
  color: #b31d28;
}

.markdown-preview .pl-ii {
  background-color: #b31d28;
  color: #fafbfc;
}

.markdown-preview .pl-c2 {
  background-color: #d73a49;
  color: #fafbfc;
}

.markdown-preview .pl-c2:before {
  content: '^M';
}

.markdown-preview .pl-sr .pl-cce {
  color: #22863a;
  font-weight: 700;
}

.markdown-preview .pl-ml {
  color: #735c0f;
}

.markdown-preview .pl-mh,
.markdown-preview .pl-mh .pl-en,
.markdown-preview .pl-ms {
  color: #005cc5;
  font-weight: 700;
}

.markdown-preview .pl-mi {
  color: #24292e;
  font-style: italic;
}

.markdown-preview .pl-mb {
  color: #24292e;
  font-weight: 700;
}

.markdown-preview .pl-md {
  background-color: #ffeef0;
  color: #b31d28;
}

.markdown-preview .pl-mi1 {
  background-color: #f0fff4;
  color: #22863a;
}

.markdown-preview .pl-mc {
  background-color: #ffebda;
  color: #e36209;
}

.markdown-preview .pl-mi2 {
  background-color: #005cc5;
  color: #f6f8fa;
}

.markdown-preview .pl-mdr {
  color: #6f42c1;
  font-weight: 700;
}

.markdown-preview .pl-ba {
  color: #586069;
}

.markdown-preview .pl-sg {
  color: #959da5;
}

.markdown-preview .pl-corl {
  color: #032f62;
  text-decoration: underline;
}

.markdown-preview details {
  display: block;
}

.markdown-preview summary {
  display: list-item;
}

.markdown-preview a {
  background-color: transparent;
}

.markdown-preview a:active,
.markdown-preview a:hover {
  outline-width: 0;
}

.markdown-preview strong {
  font-weight: inherit;
  font-weight: bolder;
}

.markdown-preview h1 {
  margin: 0.67em 0;
}

.markdown-preview img {
  border-style: none;
}

.markdown-preview code,
.markdown-preview kbd,
.markdown-preview pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.markdown-preview hr {
  box-sizing: content-box;
  overflow: visible;
}

.markdown-preview input {
  font: inherit;
  margin: 0;
  overflow: visible;
}

.markdown-preview [type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.markdown-preview * {
  box-sizing: border-box;
}

.markdown-preview input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.markdown-preview a {
  color: #0366d6;
  text-decoration: none;
}

.markdown-preview a:hover {
  text-decoration: underline;
}

.markdown-preview strong {
  font-weight: 600;
}

.markdown-preview hr {
  background: transparent;
  border-bottom: 1px solid #dfe2e5;
  height: 0;
  margin: 15px 0;
  overflow: hidden;
}

.markdown-preview hr:after,
.markdown-preview hr:before {
  content: '';
  display: table;
}

.markdown-preview hr:after {
  clear: both;
}

.markdown-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown-preview td,
.markdown-preview th {
  padding: 0;
}

.markdown-preview details summary {
  cursor: pointer;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-preview h1 {
  font-size: 32px;
}

.markdown-preview h1,
.markdown-preview h2 {
  font-weight: 600;
}

.markdown-preview h2 {
  font-size: 24px;
}

.markdown-preview h3 {
  font-size: 20px;
}

.markdown-preview h3,
.markdown-preview h4 {
  font-weight: 600;
}

.markdown-preview h4 {
  font-size: 16px;
}

.markdown-preview h5 {
  font-size: 14px;
}

.markdown-preview h5,
.markdown-preview h6 {
  font-weight: 600;
}

.markdown-preview h6 {
  font-size: 12px;
}

.markdown-preview p {
  margin-bottom: 10px;
  margin-top: 0;
}

.markdown-preview blockquote {
  margin: 0;
}

.markdown-preview ol,
.markdown-preview ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.markdown-preview ol ol,
.markdown-preview ul ol {
  list-style-type: lower-roman;
}

.markdown-preview ol ol ol,
.markdown-preview ol ul ol,
.markdown-preview ul ol ol,
.markdown-preview ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-preview dd {
  margin-left: 0;
}

.markdown-preview code,
.markdown-preview pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 12px;
}

.markdown-preview pre {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-preview input::-webkit-inner-spin-button,
.markdown-preview input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.markdown-preview .border {
  border: 1px solid #e1e4e8 !important;
}

.markdown-preview .border-0 {
  border: 0 !important;
}

.markdown-preview .border-bottom {
  border-bottom: 1px solid #e1e4e8 !important;
}

.markdown-preview .rounded-1 {
  border-radius: 3px !important;
}

.markdown-preview .bg-white {
  background-color: #fff !important;
}

.markdown-preview .bg-gray-light {
  background-color: #fafbfc !important;
}

.markdown-preview .text-gray-light {
  color: #6a737d !important;
}

.markdown-preview .mb-0 {
  margin-bottom: 0 !important;
}

.markdown-preview .my-2 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
}

.markdown-preview .py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.markdown-preview .py-2 {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
}

.markdown-preview .pl-3,
.markdown-preview .px-3 {
  padding-left: 16px !important;
}

.markdown-preview .px-3 {
  padding-right: 16px !important;
}

.markdown-preview .f6 {
  font-size: 12px !important;
}

.markdown-preview .lh-condensed {
  line-height: 1.25 !important;
}

.markdown-preview .text-bold {
  font-weight: 600 !important;
}

.markdown-preview:after,
.markdown-preview:before {
  content: '';
  display: table;
}

.markdown-preview:after {
  clear: both;
}

.markdown-preview > :first-child {
  margin-top: 0 !important;
}

.markdown-preview > :last-child {
  margin-bottom: 0 !important;
}

.markdown-preview a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.markdown-preview blockquote,
.markdown-preview dl,
.markdown-preview ol,
.markdown-preview p,
.markdown-preview pre,
.markdown-preview table,
.markdown-preview ul {
  margin-bottom: 16px;
  margin-top: 0;
}

.markdown-preview hr {
  background-color: #e1e4e8;
  border: 0;
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
}

.markdown-preview blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

.markdown-preview blockquote > :first-child {
  margin-top: 0;
}

.markdown-preview blockquote > :last-child {
  margin-bottom: 0;
}

.markdown-preview kbd {
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  box-shadow: inset 0 -1px 0 #959da5;
  font-size: 11px;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.markdown-preview h1 {
  font-size: 2em;
}

.markdown-preview h1,
.markdown-preview h2 {
  border-bottom: 1px solid #eaecef;
  padding-bottom: 0.3em;
}

.markdown-preview h2 {
  font-size: 1.5em;
}

.markdown-preview h3 {
  font-size: 1.25em;
}

.markdown-preview h4 {
  font-size: 1em;
}

.markdown-preview h5 {
  font-size: 0.875em;
}

.markdown-preview h6 {
  color: #6a737d;
  font-size: 0.85em;
}

.markdown-preview ol,
.markdown-preview ul {
  padding-left: 2em;
}

.markdown-preview ol ol,
.markdown-preview ol ul,
.markdown-preview ul ol,
.markdown-preview ul ul {
  margin-bottom: 0;
  margin-top: 0;
}

.markdown-preview li {
  word-wrap: break-all;
}

.markdown-preview li > p {
  margin-top: 16px;
}

.markdown-preview li + li {
  margin-top: 0.25em;
}

.markdown-preview dl {
  padding: 0;
}

.markdown-preview dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
  margin-top: 16px;
  padding: 0;
}

.markdown-preview dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.markdown-preview table {
  display: block;
  overflow: auto;
  width: 100%;
}

.markdown-preview table th {
  font-weight: 600;
}

.markdown-preview table td,
.markdown-preview table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

.markdown-preview table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown-preview table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown-preview img {
  background-color: #fff;
  box-sizing: content-box;
  max-width: 100%;
}

.markdown-preview img[align='right'] {
  padding-left: 20px;
}

.markdown-preview img[align='left'] {
  padding-right: 20px;
}

.markdown-preview code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0.4em;
}

.markdown-preview pre {
  word-wrap: normal;
}

.markdown-preview pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.markdown-preview .highlight {
  margin-bottom: 16px;
}

.markdown-preview .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.markdown-preview .highlight pre,
.markdown-preview pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.markdown-preview pre code {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: auto;
  overflow: visible;
  padding: 0;
  word-wrap: normal;
}

.markdown-preview .commit-tease-sha {
  color: #444d56;
  display: inline-block;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 90%;
}

.markdown-preview .blob-wrapper {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow-x: auto;
  overflow-y: hidden;
}

.markdown-preview .blob-wrapper-embedded {
  max-height: 240px;
  overflow-y: auto;
}

.markdown-preview .blob-num {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: rgba(27, 31, 35, 0.3);
  cursor: pointer;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 12px;
  line-height: 20px;
  min-width: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: right;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 1%;
}

.markdown-preview .blob-num:hover {
  color: rgba(27, 31, 35, 0.6);
}

.markdown-preview .blob-num:before {
  content: attr(data-line-number);
}

.markdown-preview .blob-code {
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  vertical-align: top;
}

.markdown-preview .blob-code-inner {
  color: #24292e;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  font-size: 12px;
  overflow: visible;
  white-space: pre;
  word-wrap: normal;
}

.markdown-preview .pl-token.active,
.markdown-preview .pl-token:hover {
  background: #ffea7f;
  cursor: pointer;
}

.markdown-preview kbd {
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  color: #444d56;
  display: inline-block;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.markdown-preview :checked + .radio-label {
  border-color: #0366d6;
  position: relative;
  z-index: 1;
}

.markdown-preview .tab-size[data-tab-size='1'] {
  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;
}

.markdown-preview .tab-size[data-tab-size='2'] {
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}

.markdown-preview .tab-size[data-tab-size='3'] {
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
}

.markdown-preview .tab-size[data-tab-size='4'] {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

.markdown-preview .tab-size[data-tab-size='5'] {
  -moz-tab-size: 5;
  -o-tab-size: 5;
  tab-size: 5;
}

.markdown-preview .tab-size[data-tab-size='6'] {
  -moz-tab-size: 6;
  -o-tab-size: 6;
  tab-size: 6;
}

.markdown-preview .tab-size[data-tab-size='7'] {
  -moz-tab-size: 7;
  -o-tab-size: 7;
  tab-size: 7;
}

.markdown-preview .tab-size[data-tab-size='8'] {
  -moz-tab-size: 8;
  -o-tab-size: 8;
  tab-size: 8;
}

.markdown-preview .tab-size[data-tab-size='9'] {
  -moz-tab-size: 9;
  -o-tab-size: 9;
  tab-size: 9;
}

.markdown-preview .tab-size[data-tab-size='10'] {
  -moz-tab-size: 10;
  -o-tab-size: 10;
  tab-size: 10;
}

.markdown-preview .tab-size[data-tab-size='11'] {
  -moz-tab-size: 11;
  -o-tab-size: 11;
  tab-size: 11;
}

.markdown-preview .tab-size[data-tab-size='12'] {
  -moz-tab-size: 12;
  -o-tab-size: 12;
  tab-size: 12;
}

.markdown-preview .task-list-item {
  list-style-type: none;
}

.markdown-preview .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown-preview .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.markdown-preview hr {
  border-bottom-color: #eee;
}

.markdown-preview .pl-0 {
  padding-left: 0 !important;
}

.markdown-preview .pl-1 {
  padding-left: 4px !important;
}

.markdown-preview .pl-2 {
  padding-left: 8px !important;
}

.markdown-preview .pl-3 {
  padding-left: 16px !important;
}

.markdown-preview .pl-4 {
  padding-left: 24px !important;
}

.markdown-preview .pl-5 {
  padding-left: 32px !important;
}

.markdown-preview .pl-6 {
  padding-left: 40px !important;
}

.markdown-preview .pl-7 {
  padding-left: 48px !important;
}

.markdown-preview .pl-8 {
  padding-left: 64px !important;
}

.markdown-preview .pl-9 {
  padding-left: 80px !important;
}

.markdown-preview .pl-10 {
  padding-left: 96px !important;
}

.markdown-preview .pl-11 {
  padding-left: 112px !important;
}

.markdown-preview .pl-12 {
  padding-left: 128px !important;
}
